
.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('imgs/download.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.container {
    text-align: center;
    margin-top: 200px; 
  }
 .text {
    font-size: 25px;
    margin-bottom: 20px;
  }
.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
    margin-bottom: 30px;
  }
  
  .plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-radius: 50%;
    box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
  }
  
  .cake > * {
    position: absolute;
  }
  
  .layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #CB99AB;
    box-shadow: 0 2px 0px #CB99AB, 0 4px 0px #996688, 0 6px 0px #986587, 0 8px 0px #976486, 0 10px 0px #966385, 0 12px 0px #956284, 0 14px 0px #956183, 0 16px 0px #946082, 0 18px 0px #935f81, 0 20px 0px #925e80, 0 22px 0px #915d7f, 0 24px 0px #905c7e, 0 26px 0px #8f5b7d, 0 28px 0px #8e5a7c, 0 30px 0px #8d597b;
  }
  
  .layer-top {
    top: 0px;
  }
  
  .layer-middle {
    top: 33px;
  }
  
  .layer-bottom {
    top: 66px;
  }
  
  .icing {
    top: 2px;
    left: 5px;
    background-color: #F5DAE2;
    width: 240px;
    height: 90px;
    border-radius: 50%;
  }
  .icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color:#F5DAE2;
    box-shadow: 0 0 4px #FCEEED, 0 0 4px #FCEEED, 0 0 4px #FCEEED;
    border-radius: 50%;
    z-index: 1;
  }
  

.drip {
    display: block;
     width: 50px;
     height: 60px;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     background-color: #DAB959;
   }
   
.drip1 {
     top: 53px;
     left: 5px;
     transform: skewY(15deg);
     height: 48px;
     width: 40px;
   }
   
.drip2 {
     top: 69px;
     left: 181px;
     transform: skewY(-15deg);
   }
   
.drip3 {
     top: 54px;
     left: 90px;
     width: 80px;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
   }
  
.candle {
    background-color: #7B020B;
    width: 12px;
    height: 35px;
    border-radius: 6px/3px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
  }

  .flame {
    position: absolute;
    background-color: orange;
    width: 10px;
    height: 25px;
    border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
  }
  
  .parchment {
    display: none;
    margin-top: 20px;
    width: 1000px;
    padding: 10px;
    background-color: #fdf5e6;
    border: 2px solid #d2b48c; /* Border added */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: justify; 
}


.parchment.reveal {
    display: block;
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
}
.button-container {
    margin-top: 120px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:#CB99AB;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F5DAE2;
}


.split {
    animation: split 0.5s forwards;
}
@keyframes split {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Move down slightly */
    }
    100% {
        transform: translateY(330px); /* Move down further */
    }
}
.button-split {
    animation: buttonSplit 0.5s forwards;
}

@keyframes buttonSplit {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Move down slightly */
    }
    100% {
        transform: translateY(100px); /* Move down further */
    }
}
@keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
  }